/* Default Setting*/
:root {
  --bgColor: white;
  --weight: 600;
}

html,
body {
  font-size: 100%;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* nav */
#nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--bgColor);
  z-index: 99;
}

.nav-lists {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
  font-size: 1.5rem;
  font-weight: var(--weight);
}

/* guide */
#guide {
  height: 100vh;
  display: flex;
  position: relative;
}

.guide-main {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10rem;
}

.guide-main__hello {
  display: block;
  font-size: 3.125rem;
  font-weight: 600;
}

.guide-main__scroll {
  margin-top: 1rem;
  font-size: 1.25rem;
}

.guide-img {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.guide-img__scrollImg {
  margin-top: 5.1rem;
  width: 45rem;
  bottom: 0;
  -webkit-animation: scale-up-br 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-br 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both infinite;
  animation-duration: 3s;
}

@-webkit-keyframes scale-up-br {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}
@keyframes scale-up-br {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}

/* profile */
#profile {
  position: relative;
  padding: 0rem 5rem 0rem 5rem;
  height: 110vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-img__main {
  width: 25rem;
  border-radius: 50%;
}

.profile-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.75rem;
}
.profile-main__hello,
.profile-main__promise {
  font-size: 1.15rem;
  font-weight: var(--weight);
}

.profile-main__career {
  margin-top: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.career-skill,
.career-expect {
  width: 50%;
  display: flex;
}

.career-skill__title,
.career-expect__title {
  display: block;
  font-size: 1.5rem;
  font-weight: var(--weight);
  width: 30%;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 1);
}

.career-skill__lists,
.career-expect__lists {
  list-style: none;
}

.career-skill__list,
.career-expect__list {
  margin-bottom: 0.5rem;
}

/* hobby */
#hobby {
  margin-top: 12rem;
  position: relative;
  padding: 0rem 6rem 0rem 6rem;
  height: 100vh;
  display: flex;
}

.hobby-main {
  width: 100%;
}

.hobby-lists {
  padding: 3rem 0rem 0rem 0rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  list-style: none;
}

.hobby-list {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hobby-img {
  width: 25rem;
  height: 25rem;
}

.hobby-list__info {
  margin-top: 1.875rem;
  width: 25rem;
}

.hobby-info__title {
  font-size: 1.875rem;
  font-weight: var(--weight);
}

.hobby-info__content {
  color: rgba(0, 0, 0, 0.5);
}

/* Schedule */
#schedule {
  margin-top: 12rem;
  padding-left: 6.25rem;
  height: 130vh;
  position: relative;
}

.schedule-table {
  width: 100%;
  padding: 0rem 18rem 0rem 0rem;
}

thead {
  height: 6.25rem;
  font-size: 1.5rem;
}

.schedule-table__part {
  text-align: center;
}

.schedule-table__target {
  text-align: center;
  width: 10rem;
  padding: 0rem 5rem 0rem 5rem;
}

.schedule-table__contents {
  text-align: start;
}

.part-img {
  width: 6rem;
}

.part-img:hover {
  animation: iconJump 1s ease-in-out;
}

.contents-lists {
  list-style: none;
  padding-left: 0;
}

.contents-lists > li {
  margin-bottom: 0.625rem;
}

.schedule-deco {
  position: absolute;
  top: 0;
  right: 0;
}

.schedule-deco__img {
  width: 20rem;
}

/* link */
#link {
  margin-top: 12rem;
  width: 100%;
  height: 70vh;
  display: flex;
  padding-bottom: 10rem;
  position: relative;
}

.link-comments {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-collection {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-collection__lists {
  width: 100%;
  padding: 0rem 3.125rem 0rem 3.125rem;
  display: flex;
  justify-content: space-around;
}

.link-collection__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link-direct,
.link-direct:visited {
  text-decoration: none;
}

.link-text {
  display: block;
  text-align: center;
  margin-bottom: 3.125rem;
  font-size: 1.25rem;
  color: black;
  font-weight: var(--weight);
}

.link-icon {
  width: 8rem;
}

.link-icon:hover {
  animation: iconAnimation 1.2s ease-in-out;
}

@keyframes iconAnimation {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.github,
.instagram {
  border-radius: 25%;
}

.link-deco {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0rem 0rem 2.5rem 10rem;
}

.link-deco__img {
  width: 18rem;
}

/* Scroll Animation */
.scroll {
  position: absolute;
  bottom: 2rem;
  left: 50%;
}

.scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scroll-down__down {
  width: 1.25rem;
  height: 3.125rem;
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-dot {
  display: block;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 1);
  animation: cursor 1.2s linear infinite;
}

.scroll-arrow {
  width: 0.8rem;
  height: 0.8rem;
  border: 2px solid transparent;
  border-right-color: rgba(0, 0, 0, 1);
  border-bottom-color: rgba(0, 0, 0, 1);
  transform: rotate(45deg);
  margin-top: 0.5rem;
  animation: arrow 1.2s linear infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

/* no-mobile */
#resolution {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: var(--weight);
}

/* Media Query */
@media screen and (min-width: 1440px) {
  #resolution {
    display: none;
  }
}

/* Keyframes */
@keyframes iconJump {
  0% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
